@media only screen and (max-width: 800px) {
  .carousel-cell {
    width: auto !important;
  }
  .body {
    background-position: 50% 50% !important;
    background-size: 70%;
  }
  .button1 {
    padding: 5px 0px 5px 10px;
    font-size: 1.5vw;
  }
  body {
       background-position: 50% 50% !important;
    background-size: 70%;
  }
  .popup {
    width: 100% !important;
    top: 10%;
  }
  .pr{
    transform: translate(-0%);
    left: 0%;  }
  .pr th{
    font-size: smaller !important;
  }
    .pr td{
    font-size: smaller !important;
  }
  .dis{
    padding: 0;
  }
  .form-control {
    font-size: 0.6rem;
  }
  .tr  {
    width: 100%
  }
}